.slider {
	@include clearfix;

	position: relative;

	overflow: hidden;

	margin-top: 22px;

	border-bottom: 5px solid $border-color;
	background: #f7f9fa;

	&:hover &__content{
		text-decoration: none;
	}

	&__img {
		float: left;

		width: $slider-image-width;
		height: auto;
	}

	&__content {
		position: relative;

		float: left;
		overflow: hidden;

		width: $slider-item-width;
		height: $slider-item-height;
		margin-left: $slider-item-ml;
		padding:$slider-item-padding;

		&:after {
			@include after-bl;

			bottom: 0;

			width: 100%;
			height: 30px;
			
			background: $transparent-gradient-IE9; // for IE 9
			background: $transparent-gradient-slider
		}
	}

	&__header {
		font-family: $header-font;
		font-size: $slider-header-fs;
		line-height: $lh3;

		color: $border-color;
	}

	&__text {
		line-height: $lh0;

		margin-top: 10px;
	}

	&__nav {
		position: absolute;
		right: 11px;
		bottom: 12px;
	}

	&__prev,
	&__next {
		float: left;
	}

	&__prev {
		@include sprite($sprite-prev);
	}

	&__next {
		@include sprite($sprite-next);
	}

	&__pages {
		font-size: $big-fs;
		font-weight: bold;

		float: left;

		margin: 0 12px;

		&:after {
			@include sprite($sprite-clock);
			@include after-ib;

			margin-left: 7px;
		}
	}
}
