.news {
	margin: $news-margin;

	&__item {
		line-height: $lh2;

		margin-top: $news-item-mt;
		padding-left: $news-item-pl;

		background: $news-item-bg;


		&--with-link &__text:after {
			@include after-ib;

			font-size: $small-link-fs;
			font-weight: bold;

			content: attr(data-href);
			vertical-align: baseline;

			color: #bfbfc0;
		}

		&--strong{
			padding: 0;
			margin-bottom: 8px;
			background: none;
		}

	}

	&__strong-info{
		display: inline-block;
		vertical-align: top;
		width: $news-info-width;
		font-weight: bold;
		line-height: 1.9;
	}

	&__figure{
		display: inline-block;
		vertical-align: top;

		width: 100px;
		margin: $news-image-margin;
	}

	&__photo {
		width: $news-image-width;
		height: auto;
	}

	&__icon{
		display: inline-block;
		vertical-align: middle;
		margin-right: 3px;

		&--photo{
			@include sprite($sprite-photo);
		}

		&--video{
			@include sprite($sprite-video);
		}
	}
}
