.news {
	margin: $news-margin;

	&__item {
		line-height: $lh2;

		margin-top: $news-item-mt;
		padding-left: $news-item-pl;

		background: $news-item-bg;

		&--with-link &__text:after {
			@include after-ib;

			font-size: $small-link-fs;
			font-weight: bold;

			content: attr(data-href);
			vertical-align: baseline;

			color: #bfbfc0;
		}

		&--strong {
			margin-bottom: 8px;
			padding: 0;

			background: none;
		}
	}

	&__strong-info {
		font-weight: bold;
		line-height: 1.9;

		display: inline-block;

		width: $news-info-width;

		vertical-align: top;
	}

	&__figure {
		display: inline-block;

		width: 100px;
		margin: $news-image-margin;

		vertical-align: top;
	}

	&__photo {
		width: $news-image-width;
		height: auto;
	}

	&__icon {
		display: inline-block;

		margin-right: 3px;

		vertical-align: middle;

		&--photo {
			@include sprite($sprite-photo);
		}

		&--video {
			@include sprite($sprite-video);
		}
	}
}
