.news {
	margin-top: -3px;
	margin-bottom: 19px;

	&__header {
		height: 23px;
		margin-top: -5px;
		margin-bottom: 10px;

		border-bottom: 2px solid $border-color;

		&__text {
			font-size: $header-fs;

			display: inline-block;

			padding-right: 5px;

			color: $header-color;
			background: #fff;
		}
	}

	&__list {
		@include list-style-none;
	}

	&__item {
		line-height: 1.2;

		margin-top: 10px;
		padding-left: 10px;

		background: url(images/bullet.png) top left no-repeat;

		&-with-photo:after {
			@include sprite($sprite-photo);
			@include after-ib;
		}

		&-with-video &__text:after {
			@include sprite($sprite-video);
			@include after-ib;
		}

		&-with-link &__text:after {
			@include after-ib;

			font-size: 11px;
			font-weight: bold;

			content: attr(data-href);
			vertical-align: baseline;

			color: #bfbfc0;
		}

		&__photo {
			float: left;

			width: 100px;
			height: 55px;
			margin-right: 7px;
		}

		&-strong {
			height: 55px;
			margin-top: 14px;
			margin-bottom: -6px;
			padding-left: 0;

			background: none;
		}

		&-strong &__text {
			font-weight: bold;
			line-height: 1.9;
		}
	}
}
