.articles {
	margin-top: 45px;
	padding-bottom: 23px;

	border-bottom: 5px solid $text-color;

	@include media('<desktop') {
		width: 45%;
		float: left;
		margin-top: 0;
		margin-bottom: 20px;
	}


	&__header {
		font-size: $header-fs;

		display: block;

		margin-bottom: -9px;

		border-bottom: 2px solid $text-color;
	}

	&__item {
		@include clearfix;

		display: block;

		margin-top: 19px;

		&__photo {
			bottom: 1px solid #bfbfc0;

			display: block;
			float: left;

			width: 34%;
			height: auto;
			margin-right: 3%;
		}

		&__text {
			font-size: $big-fs;
			line-height: 1.111;

			float: left;

			width: 63%;
			margin-top: 0;
		}

		&-with-photo &__text:after {
			@include after-ib;
			@include sprite($sprite-photo);
		}
	}
}
