.articles {
	margin-top: 45px;
	padding-bottom: 23px;

	border-bottom: $bold-birder;

	&__header {
		font-size: $header-fs;

		display: block;

		margin-bottom: -9px;

		border-bottom: $slim-border;
	}

	&__wrap {
		@include clearfix;

		display: block;

		margin-top: $artcle-mt;
	}

	&__wrap--with-photo &__text:after {
		@include after-ib;
		@include sprite($sprite-photo);
	}

	&__figure {
		float: left;

		width: $article-photo-width;
		height: auto;
		margin: $article-photo-margin;

		border: 1px solid #bfbfc0;
	}

	&__photo {
		display: block;

		width: 100%;
	}

	&__text {
		font-size: $big-fs;
		line-height: $lh1;

		float: left;

		width: $article-text-width;
		margin-top: 0;
	}
}

@media only screen and (max-width: $tablet-bp) {

	.articles {
		float: left;

		width: $articles-tablet-width;
		margin: $articles-tablet-margin;
	}
}
