.gallery {

	float: left;

	width: $gallery-width;

	&__item {
		display: block;

		margin-bottom: $gallery-item-mb;
	}

	
	&__figure {
		position: relative;
		margin: 0;

		&:before {
			@include after-bl;
			@include sprite($sprite-photo-red);

			bottom: 8px;
			left: 8px;
		}
	}

	&__photo {
		width: 100%;
		height: auto;
		margin-bottom: -3px;
	}

	&__text {
		font-size: $big-fs;
		font-weight: bold;
		line-height: $lh1;
	}
}
