.gallery {

	&__item {
		display: block;
		margin-bottom: 19px;

		&__photo-wrapper{
			position: relative;

			&:before{
				@include after-bl;
				@include sprite($sprite-photo-red);
				bottom: 8px;
				left: 8px;
			}
		}

		&__photo {
			width: 100%;
			height: auto;
			margin-bottom: -3px;
		}

		&__text {
			font-size: 18px;
			font-weight: bold;
			line-height: 1.111;
		}

	}

}
