.main-news {
	margin-top: $main-news-mt;

	&__article{
		display: inline-block;
		position: relative;

		width: $main-news-article-width;
		max-height: $main-news-article-max-height;
		margin-right: 2.8%;

		vertical-align: top;
		hyphens: auto;
		overflow: hidden;
		padding-bottom: 15px;



		&:last-child {
			margin-right: 0;
		}
	}

	&__photo {
		width: 100%;
		height: auto;
		margin-bottom: -2px;
	}

	&__list-item--with-photo &__header:after {
		@include sprite($sprite-photo);
		@include after-ib;

		margin-left: 7px;

		vertical-align: baseline;
	}
}
