.main-news {
	margin-top: 24px;

	&__article {
		display: inline-block;
		margin-right: 2.8%;
		width: 22.9%;
		height: 210px;
		vertical-align: top;
		hyphens: auto;

		&:last-child {
			margin-right: 0;
		}

		&__photo {
			width: 100%;
			height: auto;
			margin-bottom: -2px;
		}

		&-with-photo &__header:after{
			@include sprite($sprite-photo);
			@include after-ib;
			margin-left: 7px;
			vertical-align: baseline;
		}
	}






}