.main-news {
	margin-top: 24px;

	&__article {
		display: inline-block;
		position: relative;

		width: 22.9%;
		height: 210px;
		margin-right: 2.8%;

		vertical-align: top;
		hyphens: auto;
		overflow: hidden;
		padding-bottom: 15px;

&:after {
	@include after-bl;
	width: 100%;
	height: 30px;
	bottom: 0;

	background: rgba(255,255,255,0.5); // for IE 9
	background: linear-gradient(transparent 15%, #fff 40%);
}

		&:last-child {
			margin-right: 0;
		}

		&__photo {
			width: 100%;
			height: auto;
			margin-bottom: -2px;
		}

		&--with-photo &__header:after {
			@include sprite($sprite-photo);
			@include after-ib;

			margin-left: 7px;

			vertical-align: baseline;
		}
	}
}
