.main-news {
	margin-top: 24px;

	&__header {
		border-bottom: 2px solid $text-color;
		margin-bottom: 10px;
		height: 23px;

		&__text {
			font-size: 24px;
			margin-bottom: -10px;
			padding-right: 8px;
			background: #fff;
			display: inline-block;
			color: $text-color;
		}
	}

	&__article {
		display: inline-block;
		margin-right: 2.8%;
		width: 22.9%;
		height: 187px;
		vertical-align: top;
		hyphens: auto;

		&:last-child {
			margin-right: 0;
		}

		&__photo {
			width: 100%;
			margin-bottom: -2px;
		}

		&-with-photo &__header:after{
			@include sprite($sprite-photo);
			@include after-ib;
			margin-left: 7px;
			vertical-align: baseline;
		}
	}






}