.nav {
	@include list-style-none;

	font-size: 18px;
	line-height: 30px;

	display: block;

	background: #d7d8d9;

	&__item {
		display: inline-block;

		padding: 0 14px;

		&-active {
			color: #fff;
			background: $text-color;
		}
	}
}
