.overview {
	margin-top: 6px;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 2px solid $text-color;

	&__slider {
		position: relative;
		padding-left: 80px;
		overflow: hidden;

		&__button {
			position: absolute;
			width: 60px;
			height: 100%;
			/* background: linear-gradient(to right, #fff, rgba(255,255,255,0.5)); */
			background: rgba(255, 255, 255, 0.8);
			right: 0;
			top: 0;

			&:after {
				@include after-bl;
				@include sprite($sprite-next-big);
				top: 42%;
				left: 50%;
				margin-top: -$sprite-next-big-height/2;
				margin-left: -$sprite-next-big-width/2;
			}

			&-prev{
				left: 0;
			}

			&-prev:after{
				@include sprite-position($sprite-prev-big);
			}
		}

		&__container{
			@include clearfix;
			width: 2000px;
		}
	}



	&__item {
		display: block;
		float: left;
		width: 140px;
		height: 180px;
		margin-right: 20px;

		&__category {
			color: $border-color;
		}

		&__photo {
			display: block;
			margin-top: 5px;
			margin-bottom: 3px;
		}

		&__text {
			color: $header-color;
		}
	}


}