body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 1.286;

	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	cursor: pointer;
	text-decoration: none;

	color: inherit;

	&:hover {
		text-decoration: underline;

		color: $header-color;
	}
}

h2 {
	font-weight: normal;

	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	padding: 0;

	cursor: pointer;

	border: none;
	outline: none;
	background: none;
}
