.container {
	@include clearfix;

	width: $container-width;
	margin: $container-margin;
}

.news-container {
	@include clearfix;
}

.news-general {
	@include clearfix;

	float: left;

	width: $news-general-width;
	margin: $news-general-margin;
}

.news-lists {
	float: left;

	width: $news-list-width;
	margin: $news-list-margin;
}

.news-aside {
	float: left;

	width: $news-aside-width;
}

@media only screen and (max-width: $tablet-bp) {
	.container{
		width: $container-tablet-width;
	}
	.news-aside{
		width: 100%;
	}
	.news-general{
		width: 100%;
	}
}