.container {
	@include clearfix;
	width: 940px;
	margin: 32px auto 68px;
}

.left {
	@include clearfix;

	width: 65.9574%;
	float: left;
	margin-right: 2.1277%;

	.left {
		width: 61.2903%;
		margin-right: 3.2258%;
	}

	.right {
		width: 35.4839%;
	}
}

.right {
	width: 31.9149%;
	float: left;
}