.container {
	@include clearfix;

	width: 940px;
	margin: 32px auto 68px;

	@include media('<desktop') {
		width: 750px;
	}
}

.top {
	@include clearfix;
}

.left {
	@include clearfix;

	float: left;

	width: 65.9574%;
	margin-right: 2.1277%;

	@include media('<desktop') {
		width: 100%;
	}


	.left {
		width: 61.2903%;
		margin-right: 3.2258%;
	}

	.right {
		width: 35.4839%;
	}
}

.right {
	float: left;

	width: 31.9149%;

	@include media('<desktop') {
		width: 100%;
	}

}
