@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

@mixin list-style-none {
	list-style: none;
	padding: 0;
	margin: 0;
}