.section-header {
	height: $header-height;
	margin-bottom: $header-mb;

	border-bottom: $slim-border;

	&__text {
		font-size: $header-fs;

		display: inline-block;

		margin-bottom: -$header-mb;
		padding-right: 8px;

		color: $text-color;
		background: #fff;
	}

	&--with-color {
		border-color: $border-color;
	}

	&--with-color &__text {
		color: $header-color;
	}
}
