.section-header {
	height: 23px;
	margin-bottom: 10px;

	border-bottom: 2px solid $text-color;

	&__text {
		font-size: $header-fs;

		display: inline-block;

		margin-bottom: -10px;
		padding-right: 8px;

		color: $text-color;
		background: #fff;
	}

	&-with-color {
		border-color: $border-color;
	}

	&-with-color &__text {
		color: $header-color;
	}
}
