.slider {
	@include clearfix;

	position: relative;

	overflow: hidden;

	margin-top: 22px;

	border-bottom: 5px solid $border-color;
	background: #f7f9fa;

	&:hover &__content{
		text-decoration: none;
	}

	&__img {
		float: left;

		width: 60.8%;
		height: auto;
	}

	&__content {
		position: relative;

		float: left;
		overflow: hidden;

		width: 35.48%;
		height: 210px;
		margin-left: 3.5484%;
		padding: 5px 25px 0 0;

		&:after {
			@include after-bl;

			bottom: 0;

			width: 100%;
			height: 30px;

			background: linear-gradient(transparent, #f7f9fa);
		}
	}

	&__header {
		font-family: 'PT Serif';
		font-size: 30px;
		line-height: 1.23;

		color: $border-color;
	}

	&__text {
		line-height: 1.286;

		margin-top: 10px;
	}

	&__nav {
		position: absolute;
		right: 11px;
		bottom: 12px;

		&__prev,
		&__next {
			float: left;
		}

		&__prev {
			@include sprite($sprite-prev);
		}

		&__next {
			@include sprite($sprite-next);
		}

		&__pages {
			font-size: $big-fs;
			font-weight: bold;

			float: left;

			margin-right: 12px;
			margin-left: 12px;

			&:after {
				@include sprite($sprite-clock);
				@include after-ib;

				margin-left: 7px;
			}
		}
	}
}
