.video {

	@include media('<desktop') {
		float: left;

		width: 45%;
		margin-right: 10%;
		margin-bottom: 20px;
	}




	&__header {
		height: 12px;
		margin-top: 2px;
		margin-bottom: 20px;

		text-align: center;

		border-bottom: 2px solid $text-color;

		&__text {
			font-size: 18px;
			font-weight: bold;

			display: inline-block;

			margin-bottom: -20px;
			padding: 0 5px;

			text-align: center;
			text-transform: uppercase;

			color: #6a0099;
			background: #fff;
		}
	}

	&__item {
		@include clearfix;

		position: relative;

		display: block;

		margin-bottom: 11px;

		&__image {
			float: left;

			width: 46%;
			display: block;
			height: auto;
			margin-right: 3.3333%;
		}

		&:before {
			@include after-bl;
			@include sprite($sprite-play-purple);

			bottom: 3px;
			left: 4px;
		}



		&__text {
			font-weight: bold;
			line-height: 1.429;

			float: left;

			width: 50.6667%;
			margin-top: -2px;
			padding-left: 2px;
		}
	}

	&__see-more {
		font-size: 18px;

		display: inline-block;

		margin-top: 12px;

		color: $header-color;

		&:after {
			@include after-ib;
			@include sprite($sprite-see-more);
		}
	}

	&__footer {
		margin-top: 4px;

		border-bottom: 5px solid $text-color;
	}
}
