.video {

	&__header-wrap {
		height: 12px;
		margin-top: 2px;
		margin-bottom: 20px;

		text-align: center;

		border-bottom: $slim-border;
	}

	&__header {
		font-size: $big-fs;
		font-weight: bold;

		display: inline-block;

		margin-bottom: -20px;
		padding: 0 5px;

		text-align: center;
		text-transform: uppercase;

		color: #6a0099;
		background: #fff;
	}

	&__item {
		@include clearfix;

		position: relative;

		display: block;

		margin-bottom: 11px;
	}

	&__figure {
		position: relative;

		display: block;
		float: left;

		width: $video-image-width;
		height: auto;
		margin: $video-image-margin;

		&:before {
			@include after-bl;
			@include sprite($sprite-play-purple);

			bottom: 7px;
			left: 4px;
		}
	}

	&__image {
		width: 100%;
	}

	&__text {
		font-weight: bold;
		line-height: $lh4;

		float: left;

		width: $video-text-width;
		margin-top: -2px;
		padding-left: 2px;
	}

	&__see-more {
		font-size: $big-fs;

		display: inline-block;

		margin-top: 12px;

		color: $header-color;

		&:after {
			@include after-ib;
			@include sprite($sprite-see-more);
		}
	}

	&__footer {
		margin-top: 4px;

		border-bottom: 5px solid $text-color;
	}
}

@media only screen and (max-width: $tablet-bp) {

	.video {
		float: left;

		width: 45%;
		margin-right: 10%;
		margin-bottom: 20px;
	}
}
