@import 'styles/include-media';
@import 'styles/sprite';
@import 'styles/fonts';
@import 'styles/variable';
@import 'styles/mixin';

@import 'styles/markup';
@import 'styles/body';

@import 'blocks/nav/nav';
@import 'blocks/carousel/carousel';
@import 'blocks/section-header/section-header';
@import 'blocks/main-news/main-news';
@import 'blocks/news/news';
@import 'blocks/gallery/gallery';
@import 'blocks/video/video';
@import 'blocks/articles/articles';
@import 'blocks/overview/overview';
